.advantages {
  min-width: 320px;
  background-color: $color-pattens-blue;
  background-image: url("../img/background/advantages-bg-desktop.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .js-webp-exception & {
    background-image: url("../img/background/advantages-bg-desktop.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/background/advantages-bg-tablet.webp");

    .js-webp-exception & {
      background-image: url("../img/background/advantages-bg-tablet.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/advantages-bg-mobile.webp");

    .js-webp-exception & {
      background-image: url("../img/background/advantages-bg-mobile.jpg");
    }
  }

  @include retina {
    @include vp-767 {
      background-image: url("../img/background/advantages-bg-mobile@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/background/advantages-bg-mobile@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/background/advantages-bg-tablet@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/background/advantages-bg-tablet@2x.jpg");
      }
    }

    @include vp-1024 {
      background-image: url("../img/background/advantages-bg-desktop@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/background/advantages-bg-desktop@2x.jpg");
      }
    }
  }
}

.advantages__wrapper {
  padding: 110px 60px 120px;

  @include vp-1023 {
    padding: 90px 45px 100px;
  }

  @include vp-767 {
    padding: 57px 15px 66px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 49px;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  color: $color-tangaroa;

  @include vp-1023 {
    font-size: 26px;
    line-height: 1.5;
  }

  @include vp-767 {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.5;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(206px, 360px));
  column-gap: 40px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.advantages__item {
  padding: 80px 30px 46px;
  background-color: $color-alice-blue;
  background-repeat: no-repeat;
  background-position: top 30px left 30px;
  background-size: auto;

  &--ship {
    background-image: url("../img/svg/ship-icon.svg");
  }

  &--all-inclusive {
    background-image: url("../img/svg/all-inclusive-icon.svg");
  }

  &--boat {
    background-image: url("../img/svg/boat-icon.svg");
  }

  @include vp-1023 {
    padding: 71px 15px 22px 20px;
    background-position: top 26px left 20px;

    &--ship {
      background-size: 21px 26px;
    }

    &--all-inclusive {
      background-size: 27px 26px;
    }

    &--boat {
      background-size: 36px 26px;
    }
  }

  @include vp-767 {
    padding: 71px 15px 20px 20px;
  }
}

.advantages__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: $color-tangaroa;

  @include vp-1023 {
    font-size: 18px;
    line-height: 1.4;
  }

  @include vp-767 {
    max-width: 78%;
  }
}

.advantages__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  color: $color-tangaroa;
}
