.button {
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  border: 0;
  transition: opacity, color $trans-default;
  user-select: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  // Использовать класс, если в качестве <button> использован тег <a>
  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  @include hover-focus {
    color: $color-malibu;
    opacity: 0.8;
  }

  @include active {
    color: $color-tangaroa;
    opacity: 0.6;
  }
}
