.cruise {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 22px 30px;
    background-color: $color-malibu;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.cruise:hover::after,
.cruise:focus-within::after {
  content: initial;
}

.cruise:hover,
.cruise:focus-within {
  box-shadow: 0 4px 35px rgba($color-tangaroa, 0.15);
}

.cruise:hover .cruise__title,
.cruise:focus-within .cruise__title {
  position: static;
}

.cruise__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  padding: 29px 25px 34px;
  background-color: $color-tangaroa;

  @include vp-1023 {
    padding: 29px 35px 34px;
  }

  @include vp-767 {
    padding: 29px 25px 34px;
  }
}

.cruise__title {
  z-index: 1;
  position: absolute;
  left: 30px;
  bottom: 2%;
  margin: 0;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: $color-alice-blue;

  @include vp-1023 {
    left: 35px;
    bottom: 3%;
  }

  @include vp-767 {
    left: 25px;
    bottom: 1%;
  }
}

.cruise__description {
  margin: 0;
}

.cruise__description-item {
  display: flex;
  flex-direction: column;
}

.cruise__description-item:not(:last-child) {
  margin-bottom: 13px;
}

.cruise__description-property {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  color: $color-alice-blue;
}

.cruise__description-value {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  color: $color-quartz;
}

// Установка изображений

.cruise--astoria::after {
  background-image: url("../img/cruises/astoria-desktop.webp");

  .js-webp-exception & {
    background-image: url("../img/cruises/astoria-desktop.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/cruises/astoria-tablet.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/astoria-tablet.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/cruises/astoria-mobile.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/astoria-mobile.jpg");
    }
  }

  @include retina {
    @include vp-767 {
      background-image: url("../img/cruises/astoria-mobile@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/astoria-mobile@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/cruises/astoria-tablet@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/astoria-tablet@2x.jpg");
      }
    }

    @include vp-1024 {
      background-image: url("../img/cruises/astoria-desktop@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/astoria-desktop@2x.jpg");
      }
    }
  }
}

.cruise--elaine::after {
  background-image: url("../img/cruises/elaine-desktop.webp");

  .js-webp-exception & {
    background-image: url("../img/cruises/elaine-desktop.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/cruises/elaine-tablet.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/elaine-tablet.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/cruises/elaine-mobile.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/elaine-mobile.jpg");
    }
  }

  @include retina {
    @include vp-767 {
      background-image: url("../img/cruises/elaine-mobile@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/elaine-mobile@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/cruises/elaine-tablet@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/elaine-tablet@2x.jpg");
      }
    }

    @include vp-1024 {
      background-image: url("../img/cruises/elaine-desktop@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/elaine-desktop@2x.jpg");
      }
    }
  }
}

.cruise--atlantis::after {
  background-image: url("../img/cruises/atlantis-desktop.webp");

  .js-webp-exception & {
    background-image: url("../img/cruises/atlantis-desktop.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/cruises/atlantis-tablet.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/atlantis-tablet.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/cruises/atlantis-mobile.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/atlantis-mobile.jpg");
    }
  }

  @include retina {
    @include vp-767 {
      background-image: url("../img/cruises/atlantis-mobile@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/atlantis-mobile@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/cruises/atlantis-tablet@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/atlantis-tablet@2x.jpg");
      }
    }

    @include vp-1024 {
      background-image: url("../img/cruises/atlantis-desktop@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/atlantis-desktop@2x.jpg");
      }
    }
  }
}

.cruise--odysseus::after {
  background-image: url("../img/cruises/odysseus-desktop.webp");

  .js-webp-exception & {
    background-image: url("../img/cruises/odysseus-desktop.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/cruises/odysseus-tablet.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/odysseus-tablet.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/cruises/odysseus-mobile.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/odysseus-mobile.jpg");
    }
  }

  @include retina {
    @include vp-767 {
      background-image: url("../img/cruises/odysseus-mobile@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/odysseus-mobile@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/cruises/odysseus-tablet@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/odysseus-tablet@2x.jpg");
      }
    }

    @include vp-1024 {
      background-image: url("../img/cruises/odysseus-desktop@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/odysseus-desktop@2x.jpg");
      }
    }
  }
}

.cruise--olympia::after {
  background-image: url("../img/cruises/olympia-desktop.webp");

  .js-webp-exception & {
    background-image: url("../img/cruises/olympia-desktop.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/cruises/olympia-tablet.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/olympia-tablet.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/cruises/olympia-mobile.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/olympia-mobile.jpg");
    }
  }

  @include retina {
    @include vp-767 {
      background-image: url("../img/cruises/olympia-mobile@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/olympia-mobile@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/cruises/olympia-tablet@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/olympia-tablet@2x.jpg");
      }
    }

    @include vp-1024 {
      background-image: url("../img/cruises/olympia-desktop@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/olympia-desktop@2x.jpg");
      }
    }
  }
}

.cruise--aurora::after {
  background-image: url("../img/cruises/aurora-desktop.webp");

  .js-webp-exception & {
    background-image: url("../img/cruises/aurora-desktop.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/cruises/aurora-tablet.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/aurora-tablet.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/cruises/aurora-mobile.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/aurora-mobile.jpg");
    }
  }

  @include retina {
    @include vp-767 {
      background-image: url("../img/cruises/aurora-mobile@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/aurora-mobile@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/cruises/aurora-tablet@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/aurora-tablet@2x.jpg");
      }
    }

    @include vp-1024 {
      background-image: url("../img/cruises/aurora-desktop@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/aurora-desktop@2x.jpg");
      }
    }
  }
}

.cruise--leonor::after {
  background-image: url("../img/cruises/leonor-desktop.webp");

  .js-webp-exception & {
    background-image: url("../img/cruises/leonor-desktop.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/cruises/leonor-tablet.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/leonor-tablet.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/cruises/leonor-mobile.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/leonor-mobile.jpg");
    }
  }

  @include retina {
    @include vp-767 {
      background-image: url("../img/cruises/leonor-mobile@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/leonor-mobile@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/cruises/leonor-tablet@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/leonor-tablet@2x.jpg");
      }
    }

    @include vp-1024 {
      background-image: url("../img/cruises/leonor-desktop@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/leonor-desktop@2x.jpg");
      }
    }
  }
}

.cruise--minion::after {
  background-image: url("../img/cruises/minion-desktop.webp");

  .js-webp-exception & {
    background-image: url("../img/cruises/minion-desktop.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/cruises/minion-tablet.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/minion-tablet.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/cruises/minion-mobile.webp");

    .js-webp-exception & {
      background-image: url("../img/cruises/minion-mobile.jpg");
    }
  }

  @include retina {
    @include vp-767 {
      background-image: url("../img/cruises/minion-mobile@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/minion-mobile@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/cruises/minion-tablet@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/minion-tablet@2x.jpg");
      }
    }

    @include vp-1024 {
      background-image: url("../img/cruises/minion-desktop@2x.webp");

      .js-webp-exception & {
        background-image: url("../img/cruises/minion-desktop@2x.jpg");
      }
    }
  }
}
