.footer {
  min-width: 320px;
  background-color: $color-tangaroa;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 70px 1fr 130px;
  align-items: center;
  column-gap: 39px;
  padding: 47px 60px 43px;

  @include vp-1023 {
    grid-template-columns: 38px 1fr 130px;
    column-gap: 24px;
    padding: 40px 45px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    column-gap: 0;
    padding: 40px 15px 35px;
  }
}

.footer__logo {
  margin-top: 3px;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-top: 8px;
  }

  @include vp-767 {
    margin-top: 0;
    margin-bottom: 14px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.6;
  }
}

.footer__logo svg {
  width: 70px;
  height: 38px;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.footer__navigation {
  @include vp-767 {
    margin-bottom: 16px;
  }
}

.footer__social {
  justify-self: end;

  @include vp-767 {
    justify-self: start;
  }
}
