.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-767 {
    flex-direction: column;
    padding: 74px 25px 25px;
  }
}

.navigation__item {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 34px;

  @include vp-1023 {
    margin-right: 24px;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 4px;
  }
}

.navigation__link {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  color: $color-alice-blue;
  transition: color $trans-default;

  @include hover-focus {
    color: $color-quartz;
  }

  @include active {
    color: $color-tangaroa;
  }

  @include vp-1023 {
    font-size: 14px;
    line-height: 1.21;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 1.22;
    color: $color-tangaroa;
  }
}

.js-exception .navigation__list {
  @include vp-767 {
    padding: 15px;
  }
}
