// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette

$color-quartz:                      #d8d8d9;
$color-alice-blue:                  #f9fbfd;
$color-solitude:                    #e3ecf6;
$color-pattens-blue:                #d9e6f4;
$color-malibu:                      #6ba9d7;
$color-royal-blue:                  #4856df;
$color-egyptian-blue:               #1d29a4;
$color-prussian-blue:               #002b66;
$color-sapphire:                    #101a56;
$color-tangaroa:                    #011c40;

// Gradient

$black-to-bottom:                    linear-gradient(180deg, rgba($color-tangaroa, 0) 50%, $color-tangaroa 100%);

// Typography
// ---------------------------------

$ff-main:                           "Montserrat", "Arial", sans-serif;

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-card:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
